# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Keep environment example
!.env.example

# Build
dist/
coverage/

# Prisma local files
.prisma/

# Logs
*.log

# OS
.DS_Store
Thumbs.db